@model MoviesViewModel
@{
    var topRatedClass = Model.Options.IsSortedByAverageRating ? "active" : "";
    var newClass = Model.Options.IsSortedByDate ? "active" : "";

    string isSortedByDate = Model.Options.IsSortedByDate.ToString().ToLower();
    string isSortedByAverageRating = Model.Options.IsSortedByAverageRating.ToString().ToLower();
}
<div class="front-options">
    <input type="hidden" id="isSortedByDate" value="@isSortedByDate" />
    <input type="hidden" id="isSortedByAverageRating" value="@isSortedByAverageRating" />
    <div class="option toggle">
        <button class="h3 text-white @topRatedClass" id="topRatedFilter">
            Top rated
        </button>
    </div>
    <div class="option toggle">
        <button class="h3 text-white @newClass" id="dateFilter">
            New
        </button>
    </div>
    <div class="option custom-dropdown big">
        <select id="genreFilterSelect" class="h3 text-white" >
            <option value="@Model.Options.FilterOption">@Model.Options.FilterOption</option>
            @if(Model.Options.FilterOption != "Genres")
            {
                <option value="Genres">Genres</option>
            }
            @foreach (var genre in GlobalVariables.Genres)
            {
                @if(genre != Model.Options.FilterOption)
                {
                    <option value="@genre" class="h3">@genre</option>
                } 
            }
        </select>
    </div>
</div>