@model MoviesViewModel
@{
    var topRatedClass = Model.Options.IsSortedByAverageRating ? "active" : "";
    var newClass = Model.Options.IsSortedByDate ? "active" : "";
}
<div class="front-options">
    <div class="option toggle">
        @if(!Model.Options.IsSortedByAverageRating)
        {
            <button class="@topRatedClass h3 text-white text-opacity-25" onclick="filterMovies(
                        '@(!Model.Options.IsSortedByAverageRating)'.toLowerCase(),
                        '@Model.Options.FilterOption',
                        false)">
                Top rated
            </button>
        }
        else
        {
            <button class="@topRatedClass h3 text-white" onclick="filterMovies(
                        '@(!Model.Options.IsSortedByAverageRating)'.toLowerCase(),
                        '@Model.Options.FilterOption',
                        '@(Model.Options.IsSortedByDate)'.toLowerCase())">
                Top rated
            </button>
        }
    </div>
    <div class="option toggle">
        @if(!Model.Options.IsSortedByDate)
        {
            <button class="@newClass h3 text-white text-opacity-25" onclick="filterMovies(
                        false,
                        '@Model.Options.FilterOption',
                        '@(!Model.Options.IsSortedByDate)'.toLowerCase())">
                New
            </button>
        }
        else
        {
            <button class="@newClass h3 text-white" onclick="filterMovies(
                        '@Model.Options.IsSortedByAverageRating'.toLowerCase(),
                        '@Model.Options.FilterOption',
                        '@(!Model.Options.IsSortedByDate)'.toLowerCase())">
                New
            </button>
        }
    </div>
    <div class="option custom-dropdown big">
        <select id="genreFilter" class="h3 text-white" asp-for="Options.FilterOption" onchange="filterMovies(
                        '@(Model.Options.IsSortedByAverageRating)'.toLowerCase(),
                        this.value,
                        '@(Model.Options.IsSortedByDate)'.toLowerCase())">
            @foreach (var genre in GlobalVariables.GenreList)
            {
                if (genre.Equals("All"))
                {
                    <option value="Genres" class="h3">All genres</option>
                }
                else
                {
                    <option value="@genre" class="h3">@genre</option>
                }
            }
        </select>
    </div>
</div>
<script>
    function filterMovies(isSortedByAverageRating, filterOption, isSortedByDate) {
        $.ajax({
            url: '/Movies',
            type: 'GET',
            data: {
                isSortedByAverageRating: isSortedByAverageRating,
                filterOption: filterOption,
                isSortedByDate: isSortedByDate
            },
            success: function (result) {
                $('#dynamicContent').html(result);
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                console.log('XHR:', xhr);
                console.log('Status:', status);
            }
        });
    }
</script>