@model MoviesViewModel
<div class="hero-wrapper">
    <div class="hero-container">
        <img src="~/images/@Model.HeroMovie.MovieBackgroundImage" />
        <div class="hero-info">
            <h1>@Model.HeroMovie.Title @Model.HeroMovie.ReleaseDate.ToString("yyyy")</h1>
            <p>
                @Model.HeroMovie.MovieDescription
            </p>
            <div class="stars-average">
                @{var averageRating = Model.HeroMovie.Rating.AverageRating;}
                <h2>@averageRating.ToString("0.0")</h2>
                <div>
                    @for (int i = 1; i <= 5; i++)
                    {
                        string starClass = i <= averageRating ? "filled-star" : "empty-star";
                        <i class="fa-solid fa-star @starClass"></i>
                    }
                </div>
                <p>@Model.HeroMovie.Rating.NumberOfRatings</p>
            </div>
            <button class="btn-primary btn hero-btn">
                <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.HeroMovie.MovieID">
                    Show more
                </a>
            </button>
        </div>
    </div>
</div>

