@model Movie
<div class="movie-container" id="@Model.MovieID">
    <img src='~/images/@(Model.MovieImage)' class="movie-image" data-movie-id="@Model.MovieID" alt="@Model.Title"/>
    <div class="movie-details">
        <div class="title-container">
            <h2>@Model.Title</h2>
        </div>
        <p>@Model.ReleaseDate.ToString("yyyy")</p>
        <div class="movie-rating">
            <div>
                @{
                    var averageRating = (int)Math.Round(Model.Rating.AverageRating);
                }
                @for (int i = 1; i <= 5; i++)
                {
                    string starClass = i <= averageRating ? "filled-star" : "empty-star";
                    <i class="fa-solid fa-star @starClass"></i>
                }
            </div>
            <p>@Model.Rating.AverageRating.ToString("0.0") / 5</p>
        </div>
    </div>
</div>
