@model MovieGallery.Models.Movie

<link rel="stylesheet" href="~/css/moviedetail.css" />

<h2>@Model.Title</h2>

<!-- Display potential errors -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <p>@TempData["ErrorMessage"]</p>
    </div>
}

<div class="movie-detail">
    <img src='/images/@(Model.MovieImage)' class="movie-image" />
    <p>@Model.Genre</p>
    <p>@Model.ReleaseDate.ToString("yyyy")</p>
    <!-- Lägg in film beskrivning -->
    <div class="movie-description">
        <p>@Model.MovieDescription</p>
    </div>
</div>
