@model Movie

<link rel="stylesheet" href="~/css/moviedetail.css" asp-append-version="true" />

<!-- Display potential errors -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <p>@TempData["ErrorMessage"]</p>
    </div>
}

<div class="movie-detail">
    <div class="upper-detail">
        <img src='/images/@(Model.MovieImage)' class="movie-image" />
        <div class="movie-description">
            <h2>@Model.Title (@Model.ReleaseDate.ToString("yyyy"))</h2>
            <p>@Model.MovieDescription</p>
            <div>
                @foreach(var producer in Model.Producers)
                {
                    <p>@producer.FirstName @producer.LastName</p>
                }
            </div>
        </div>
    </div>
    <partial name="_StarScoreboard" />
</div>
<script src="~/js/filterGenre.js"></script>
