@model MoviesViewModel
<link rel="stylesheet" href="~/css/movies.css" asp-append-version="true" />
<button type="button" class="sort-button" onclick="location.href='@Url.Action("SortByRating", "Movies")'">
    Sort By Rating
</button>
<select id="genreDropdown" name="genre" onchange="filterByGenre()">
    <option value="Test">Select Genre</option>
    <option value="Drama">Drama</option>
</select>
<script>
    function filterByGenre() {
        var selectedGenre = document.getElementById("genreDropdown").value;
        console.log(selectedGenre);
        if (selectedGenre !== "") {
            var url = '@Url.Action("FilterGenres", "Movies")' + '?genre=' + selectedGenre;
            window.location.href = url;
        }
    }
</script>
<p>@ViewBag.genre</p>
<div class="movies-disp">
    @foreach (var movie in Model.Movies)
    {
        <div class="movie-container" id="@movie.MovieID">
            <img src='~/images/@(movie.MovieImage)' class="movie-image" data-movie-id="@movie.MovieID" />
            <div class="title-container">
                <h2>@movie.Title</h2>
            </div>
            <div class="genre-rating">
                <button type="submit" class="genre-button">
                    <p>@movie.Genre</p>
                </button>
                <div class="rating-container">
                    @{
                        var averageRating = Model.RatingMethods.GetAverageRating(movie.MovieID, out string avgErrorMsg);
                        var numberOfRatings = Model.RatingMethods.GetNumberOfRatings(movie.MovieID, out string numErrorMsg);
                    }
                    <div class="avg-rating">
                        <i class="fa-solid fa-star" style="color: #ffd500;"></i>
                        <p class="avg">@averageRating.ToString("0.0")</p>
                    </div>
                    <div class="num-ratings">
                        <p>(@numberOfRatings)</p>
                    </div>
                </div>
                <a asp-action="Edit" asp-route-id="@movie.MovieID" class="edit-movie">
                    <p>Edit</p>
                    <i class="fa-solid fa-pen-to-square" style="color: #373c5a;"></i>
                </a>
                <button class="edit-movie" type="button">
                    <p>Delete</p>
                    <i class="fa-solid fa-trash" style="color: #373c5a;"></i>
                </button>
            </div>
            <p>@movie.ReleaseDate.ToString("yyyy")</p>
        </div>
    }
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/goToMovieDetails.js"></script>
<script src="~/js/sortMoviesByRating.js"></script>
