@model MoviesViewModel
<link rel="stylesheet" href="~/css/movies.css" asp-append-version="true" />
<form asp-controller="Movies" asp-action="Index" method="get" class="filter-options">
    <div class="form-check form-check-lg sort-by-ratings">
        <input type="checkbox" name="isSortedByAverageRating" id="isSortedByAverageRating" value="true" class="form-check-input" @(Model.IsSortedByAverageRating ? "checked" : "")>
        <label for="isSortedByAverageRating" class="form-check-label">Sort by Ratings</label>
    </div>
    <div class="form-group genre-filter">
        <select id="genreFilter" asp-for="FilterOption" class="form-select" aria-label="Default select example">
            <option value="All">All Genres</option>
            @foreach (var genre in GlobalVariables.Genres)
            {
                <option value="@genre">@genre</option>
            }
        </select>
    </div>
    <button type="button" class="btn btn-primary filter-button" onclick="applyGenreFilter()">Apply</button>
</form>
@if (!string.IsNullOrEmpty(ViewBag.RatingError))
{
    <div class="alert alert-danger">
        @ViewBag.RatingError
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
<div class="header">
    <h2>@Model.FilterOption movies</h2>
</div>
<div class="movies-disp">
    @if (Model.Movies.Count != 0)
    {
        @foreach (var movie in Model.Movies)
        {
            <div class="movie-container" id="@movie.MovieID">
                <img src='~/images/@(movie.MovieImage)' class="movie-image" data-movie-id="@movie.MovieID" />
                <div class="title-container">
                    <h2>@movie.Title</h2>
                    <p>@movie.ReleaseDate.ToString("yyyy")</p>
                </div>
                <div class="actions">
                    <button type="button" class="genre-button" onclick="filterGenre('@movie.Genre')">
                        <p>@movie.Genre</p>
                    </button>
                    <div class="rating-container">
                        @{
                            var averageRating = movie.AverageRating;
                            var numberOfRatings = movie.NumberOfRatings;
                        }
                        <div class="avg-rating">
                            <i class="fa-solid fa-star" style="color: #ffd500;"></i>
                            <p class="avg">@averageRating.ToString("0.0")</p>
                        </div>
                        <div class="num-ratings">
                            <p>(@numberOfRatings)</p>
                        </div>
                    </div>
                    <a asp-action="Edit" asp-route-id="@movie.MovieID" class="edit-movie">
                        <p>Edit</p>
                        <i class="fa-solid fa-pen-to-square" style="color: var(--bg-box);"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@movie.MovieID" class="edit-movie">
                        <p>Delete</p>
                        <i class="fa-solid fa-trash" style="color: var(--bg-box);"></i>
                    </a>
                </div>
                @* <div class="producers-container">
                    <h3>Producers:</h3>
                    @if (movie.Producers != null)
                    {
                        foreach (var producer in movie.Producers)
                        {
                            if (producer.Producer != null)
                            {
                                <p>@producer.Producer.FirstName</p>
                            }
                            else
                            {
                                <p>Unknown Producer</p>
                            }
                        }
                    }
                    else
                    {
                        <p>No information available</p>
                    }
                </div> *@
            </div>
        }
    }
    else
    {
        <h3>No movies available</h3>
    }

</div>
<script src="~/js/filterGenre.js"></script>
<script src="~/js/applyGenreFilter.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/goToMovieDetails.js"></script>
